.bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .bd-mode-toggle {
	z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
  }

.logo{
  width: 32px;
  height: 32px;

}

.text-c{
  background: -webkit-linear-gradient(#fff700, #ff8800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 179, 0, 0.489);
  font-weight: 700;
  text-align: center;
}



.tituloapp{
  background: -webkit-linear-gradient(#fff700, #ff8800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 179, 0, 0.489);
  text-align: center;
  font-weight: 700;


} 

.img-1{
  height: 20%;
  width: 100%;
  align-self: center;
  border-radius: 20px;
}

.text-c2{
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  
}

.bg-1{

  border-radius: 10px;
  border: none;
  color: black;
  font-weight: bold;
  height: 50px;
  border: 2px solid #00000049;
  background-color: #fffd7b;
  
  
}

.bg-1:hover{
  animation: rainbow 4s infinite;
  animation-timing-function:unset;
}
@keyframes rainbow {
  0%{background-color: #fffd7b;
  }
  25%{background-color: #ff8f49;}
  50%{background-color: #ffc641;}
  75%{background-color: #ff7041;}
  100%{background-color: #fffd7b;}
  }

.hr{  
  opacity: 1;
  border: 2px solid #00000073;
  border-radius: 10px;
  height: 10px;
  margin-bottom: 50px;
animation: texto 4s infinite;
}
@keyframes texto {
0%{background-color: #ff0000;
}
25%{background-color: #ff6200;}
50%{background-color: #ffb300;}
75%{background-color: #ffee00;}
100%{background-color: #ff0040;}
}

.bg-modal{
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: bold;
  height: 50px;
  border: 2px solid #00000084;
  background-color: #fffd7b;
  margin-bottom: 40px;
  
}
.bg-modal:hover{
  animation: rainbow 4s infinite;
  background-color: #fffd9c;
  color: black;
  border: 2px solid #00000049;
}
.textc{
  text-align: center;

}

.imgb{
  width: 120px;
}

.ancho{
  width: 83%;
  margin: auto;
}